.heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.BoxFirst {
  border: 1px solid black;
  height: 250px;
  display: grid;
  /* color: white; */
  text-align: center;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  background-color: red;
  color: white;
}
.BoxMid{
  border: 1px solid black;
  height: 250px;
  display: grid;
  border-radius: 5px;
  /* color: white; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: maroon;
  color: white;
}
.BoxLast{
  border: 1px solid black;
  height: 250px;
  border-radius: 5px;
  display: grid;
  /* color: white; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: blue;
  color: white;
}
.BoxFirst:hover{
  background-color: transparent;
  color: black;
  border: 1px solid red;
}
.BoxMid:hover{
  background-color: transparent;
  color: black;
  border: 1px solid maroon;
}
.BoxLast:hover{
  background-color: transparent;
  color: black;
  border: 1px solid blue;
}

.MainBody {
  display: flex;
  padding: 0px 5px;
  gap: 15px;
  position: absolute;
  top: 50%;
  translate: -0% -50%;
}
@media  (max-width: 900px){
  .MainBody{
    display: block;
    width: 400px;
    margin-top: 200px;

  }
}